#title {
  text-align: center;
  font-size: 25px;
  margin: 50px auto 0 auto;
}
form {
  width: 60%;
  padding: 10px;
  margin: 0 auto;
}
h4 {
  font-size: small;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}
table span {
	font-size: 16px;
}
td {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 0;
}
td.title {
  width: 200px;
  padding-left: 5px;
  background-color: rgb(192, 219, 248);
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
}
td.content {
  padding: 3px 3px 5px 3px;
}
#prestige_count, #economy_count {
	border:none;
	text-align:right;
	width:40px;
}
table input {
  border: 1px solid lightgray;
  margin: 3px;
  height: 20px;
  border-radius: 2px;
  background-color: white;
  outline: 0;
  width:300px;
  border:none;
}
div.payButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#subButton {
  background-color: rgb(89, 159, 234);
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  color: white;
}