@charset "UTF-8";

section {
	height: 670px;
}

#title {
	margin: 40px, 0;
	text-align: center;
	font-size: 40px;
	text-align: center;
	color: #3164FF;
}

article.tripAirSelect {
	width: 100%;
	height: 480px;
	margin: 0 auto;
	padding: 100px 0;
	background: url(../tripair/source/trip01.jpg) no-repeat center;
	background-size: cover;
}

#selectForm {
	width: 90%;
	height: 200px;
	margin: 0 auto;
	align-content: center;
	background-color: white;
	border-radius: 20px;
	text-align: center;
	opacity : 0.95;
}
/*topselectbox*/
#topSelectBox {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 15px;
	text-align: left;
}

#topSelectBox .topSelectBox {
	border: none;
	font-size: 15px;
	outline: none;
}

#count {
	border: none;
	outline: none;
	width: 42px;
	font-size: 25px;
	font-weight: lighter;
	color:#3E3EDE;
}

/*bottomselectbox*/
form .bottomSelect {
	width: 300px;
	height: 60px;
	border: 1px solid rgb(218, 217, 217);
	border-radius: 10px;
	font-size: 15px;
	outline: none;
}

#timeBox {
	width: 300px;
	height: 60px;
	display: inline-block;
	border: 1px solid rgb(218, 217, 217);
	border-radius: 10px;
	margin: 0px 10px;
}

#dep_plandtime, #arr_plandtime {
	width: 130px;
	height: 60px;
	border: none;
	outline: none;
}

#searchBB {
	width: 100px;
	height: 60px;
	background-color: #3164FF;
	color: white;
	font-size: 23px;
	border-radius: 10px;
	border: none;
}

.fa-plane {
	color: #3164FF;
	font-size: 30px;
	text-align: center;
}

.fa-magnifying-glass {
	color: white;
}

.fa-plane-departure, .fa-user, .fa-cart-shopping {
	font-size: 25px;
}

.fa-person {
	margin-left: 20px;
	font-size: 25px;
}