@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 850px;
}

a {
	text-decoration: none;
	color: black;
}

#title {
	text-align: center;
	font-size: 25px;
	margin: 80px auto 30px auto;
}

select {
	width: 120px;
	height: 30px;
	font-size: 15px;
	text-align: center;
}

div.select-box {
	width: 80%;
	margin: 0 auto;
	text-align: right;
}

#writeB {
	background-color: #2A2A4E;
	border-style: none;
	border: 1px solid black;
	width: 100px;
	height: 30px;
	border-radius: 20px;
	color: white;
}

table {
	width: 80%;
	margin: 20px auto 50px auto;
	text-align: center;
	border-collapse: collapse;
	font-size: 13px;
}

thead {
	background-color: rgb(192, 219, 248);
}

tr {
	border: 1px solid rgb(218, 217, 217);
	padding: 10px;
	width: 100%;
}

td {
	padding: 10px;
	border: 1px solid rgb(218, 217, 217);
}

thead td:first-child {
	width: 10%;
}

thead td:nth-child(2) {
	width: 50%;
}

thead td:nth-child(3) {
	width: 15%;
}

thead td:nth-child(4) {
	width: 15%;
}

thead td:nth-child(5) {
	width: 10%;
}


footer.newfooter {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

button {
	margin: 0 8px;
	background-color: white;
	border-style: none;
	border: 1px solid rgb(218, 217, 217);
	width: 35px;
	height: 35px;
}