@charset "UTF-8";
/* section {
	min-height: 600px;
} */

/* body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 850px;
} */

#title {
	text-align: center;
	margin: 90px 0 0 0;
	padding: 0;
}

#mainSection {
	width: 80%;
	margin: 40px auto;
}

#subject {
	margin: 0 auto;
	border-top: 2px solid black;
	border-bottom: 1px solid black;
	font-size: 16px;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}
/* #imgdiv {
  background-image: url();
  background-position: center;
  margin: 15px auto;
  width: 600px;
  height: 250px;
} */
#subject div:nth-child(1) {
	margin-left: 20px;
}

#subject div:nth-child(2) {
	margin-right: 20px;
}

#boardContent {
	width: 100%;
	padding: 2.5%;
	margin: 30px auto 15px auto;
	font-size: 15px;
	min-height: 300px;
	border-bottom: 1px solid black;
}

div.contentB {
	margin: 10px auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

button {
	margin: 0 8px;
	background-color: white;
	border-style: none;
	border: 1px solid rgb(218, 217, 217);
	width: 70px;
	height: 40px;
	border-radius: 30px
}