@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 850px;
}

#title {
	text-align: center;
	margin: 90px 0 0 0;
	padding: 0;
}

#mainSection {
	width: 80%;
	margin: 40px auto;
}

#subject {
	margin: 0 auto;
	border-top: 2px solid black;
	border-bottom: 1px solid black;
	font-size: 15px;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}
/* #imgdiv {
  background-image: url();
  background-position: center;
  margin: 15px auto;
  width: 600px;
  height: 250px;
} */
#subject div:nth-child(1) {
	margin-left: 20px;
}

#subject div:nth-child(2) {
	margin-right: 20px;
}

p {
	width: 60%;
	margin: 10px auto;
	font-size: 14px;
}